<div class="p-3">
    <div class="card">
        <div class="card-body ">
            <div class="row">
            <h1>Liste des Students</h1>
            <table class="table">

                <thead>
                    <tr>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Classe</th>
                        <th>Checked</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{student.firstname}}</td>
                        <td>{{student.lastname}}</td>
                        <td>{{student.classe}}</td>

                        <td>
                            <button (click)="handleCheckStudent(student)" class="btn btn-outline-success">
                                <i [class]="student.checked? 'bi bi-check':'bi bi-circle'"></i>
                            </button>
                        </td>
                        <td>
                            <button (click)="handleDelete(student)" class=" btn btn-outline-danger">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                        <td>
                            <button class=" btn btn-outline-warning"(click)="editStudent(student)">
                       <i class="bi bi-pencil"></i>
                            </button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
    </div>